In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

## Reading Mercedes Benz Data Set

In [2]:
test = pd.read_csv('E:/downloads/MACHINE LEARNING PROJECTS/Mercedes-Benz Greener Manufacturing/test.csv')
train =pd.read_csv('E:/downloads/MACHINE LEARNING PROJECTS/Mercedes-Benz Greener Manufacturing/train.csv')

In [3]:
test.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [4]:
train.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [5]:
train.shape

(4209, 378)

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [7]:
test.shape

(4209, 377)

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 377 entries, ID to X385
dtypes: int64(369), object(8)
memory usage: 12.1+ MB

In [9]:
train.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
train.nunique()

ID      4209
y       2545
X0        47
X1        27
X2        44
        ...
X380       2
X382       2
X383       2
X384       2
X385       2
Length: 378, dtype: int64

In [11]:
train['y'].nunique()

2545

In [12]:
print("y is the difference in train test columns, so it is a Target column")
print("Since Target Variable has 2500 unique values, it is a Regression Problem.")

y is the difference in train test columns, so it is a Target column
Since Target Variable has 2500 unique values, it is a Regression Problem.

In [13]:
#check the unique value , for that if uniques value is 1 than it has no variance
len(train['X0'].unique())

47

In [14]:
#find all the columns of our data
col = train.columns
col

Index(['ID', 'y', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=378)

## Checking columns with zero variance

In [15]:
#To check uniques value in all 384 columns sepratly is tuff so we do it by a function as like below
for each in col:
    if len(train[each].unique()) == 1:
        print('column name','   ',   each)

column name     X11
column name     X93
column name     X107
column name     X233
column name     X235
column name     X268
column name     X289
column name     X290
column name     X293
column name     X297
column name     X330
column name     X347

In [16]:
#from above we have found that columns X11,X93,X107,X233,X235,X268,X289,X290,X293,X297,X330,X347 have 1 value for all row that means they have variance equals to zero
#than from probelms objective -If for any column(s), the variance is equal to zero, then you need to remove those variable(s).
#we remove
train.drop(['X11','X93','X107','X233','X235','X268','X289','X290','X293','X297','X330','X347'], axis = 1, inplace = True)

In [17]:
train.shape

(4209, 366)

## Checking Null Value in Test & Train Data

In [18]:
train.isnull().sum()

ID      0
y       0
X0      0
X1      0
X2      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 366, dtype: int64

In [19]:
train.isnull().sum().sum()

0

In [20]:
train.isnull().sum().any()

False

In [21]:
test.isnull().sum()

ID      0
X0      0
X1      0
X2      0
X3      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 377, dtype: int64

In [22]:
test.isnull().sum().sum()

0

In [23]:
test.isnull().sum().any()

False

## Checking columns data types

In [24]:
train.dtypes.value_counts()

int64      357
object       8
float64      1
dtype: int64

In [25]:
#to find dtype of all columns we do like this
for each in train.columns:
    print(each, "---",np.dtype(train[each]))

ID --- int64
y --- float64
X0 --- object
X1 --- object
X2 --- object
X3 --- object
X4 --- object
X5 --- object
X6 --- object
X8 --- object
X10 --- int64
X12 --- int64
X13 --- int64
X14 --- int64
X15 --- int64
X16 --- int64
X17 --- int64
X18 --- int64
X19 --- int64
X20 --- int64
X21 --- int64
X22 --- int64
X23 --- int64
X24 --- int64
X26 --- int64
X27 --- int64
X28 --- int64
X29 --- int64
X30 --- int64
X31 --- int64
X32 --- int64
X33 --- int64
X34 --- int64
X35 --- int64
X36 --- int64
X37 --- int64
X38 --- int64
X39 --- int64
X40 --- int64
X41 --- int64
X42 --- int64
X43 --- int64
X44 --- int64
X45 --- int64
X46 --- int64
X47 --- int64
X48 --- int64
X49 --- int64
X50 --- int64
X51 --- int64
X52 --- int64
X53 --- int64
X54 --- int64
X55 --- int64
X56 --- int64
X57 --- int64
X58 --- int64
X59 --- int64
X60 --- int64
X61 --- int64
X62 --- int64
X63 --- int64
X64 --- int64
X65 --- int64
X66 --- int64
X67 --- int64
X68 --- int64
X69 --- int64
X70 --- int64
X71 --- int64
X73 --- int64
X74 --- int64
X75 --- int64
X76 --- int64
X77 --- int64
X78 --- int64
X79 --- int64
X80 --- int64
X81 --- int64
X82 --- int64
X83 --- int64
X84 --- int64
X85 --- int64
X86 --- int64
X87 --- int64
X88 --- int64
X89 --- int64
X90 --- int64
X91 --- int64
X92 --- int64
X94 --- int64
X95 --- int64
X96 --- int64
X97 --- int64
X98 --- int64
X99 --- int64
X100 --- int64
X101 --- int64
X102 --- int64
X103 --- int64
X104 --- int64
X105 --- int64
X106 --- int64
X108 --- int64
X109 --- int64
X110 --- int64
X111 --- int64
X112 --- int64
X113 --- int64
X114 --- int64
X115 --- int64
X116 --- int64
X117 --- int64
X118 --- int64
X119 --- int64
X120 --- int64
X122 --- int64
X123 --- int64
X124 --- int64
X125 --- int64
X126 --- int64
X127 --- int64
X128 --- int64
X129 --- int64
X130 --- int64
X131 --- int64
X132 --- int64
X133 --- int64
X134 --- int64
X135 --- int64
X136 --- int64
X137 --- int64
X138 --- int64
X139 --- int64
X140 --- int64
X141 --- int64
X142 --- int64
X143 --- int64
X144 --- int64
X145 --- int64
X146 --- int64
X147 --- int64
X148 --- int64
X150 --- int64
X151 --- int64
X152 --- int64
X153 --- int64
X154 --- int64
X155 --- int64
X156 --- int64
X157 --- int64
X158 --- int64
X159 --- int64
X160 --- int64
X161 --- int64
X162 --- int64
X163 --- int64
X164 --- int64
X165 --- int64
X166 --- int64
X167 --- int64
X168 --- int64
X169 --- int64
X170 --- int64
X171 --- int64
X172 --- int64
X173 --- int64
X174 --- int64
X175 --- int64
X176 --- int64
X177 --- int64
X178 --- int64
X179 --- int64
X180 --- int64
X181 --- int64
X182 --- int64
X183 --- int64
X184 --- int64
X185 --- int64
X186 --- int64
X187 --- int64
X189 --- int64
X190 --- int64
X191 --- int64
X192 --- int64
X194 --- int64
X195 --- int64
X196 --- int64
X197 --- int64
X198 --- int64
X199 --- int64
X200 --- int64
X201 --- int64
X202 --- int64
X203 --- int64
X204 --- int64
X205 --- int64
X206 --- int64
X207 --- int64
X208 --- int64
X209 --- int64
X210 --- int64
X211 --- int64
X212 --- int64
X213 --- int64
X214 --- int64
X215 --- int64
X216 --- int64
X217 --- int64
X218 --- int64
X219 --- int64
X220 --- int64
X221 --- int64
X222 --- int64
X223 --- int64
X224 --- int64
X225 --- int64
X226 --- int64
X227 --- int64
X228 --- int64
X229 --- int64
X230 --- int64
X231 --- int64
X232 --- int64
X234 --- int64
X236 --- int64
X237 --- int64
X238 --- int64
X239 --- int64
X240 --- int64
X241 --- int64
X242 --- int64
X243 --- int64
X244 --- int64
X245 --- int64
X246 --- int64
X247 --- int64
X248 --- int64
X249 --- int64
X250 --- int64
X251 --- int64
X252 --- int64
X253 --- int64
X254 --- int64
X255 --- int64
X256 --- int64
X257 --- int64
X258 --- int64
X259 --- int64
X260 --- int64
X261 --- int64
X262 --- int64
X263 --- int64
X264 --- int64
X265 --- int64
X266 --- int64
X267 --- int64
X269 --- int64
X270 --- int64
X271 --- int64
X272 --- int64
X273 --- int64
X274 --- int64
X275 --- int64
X276 --- int64
X277 --- int64
X278 --- int64
X279 --- int64
X280 --- int64
X281 --- int64
X282 --- int64
X283 --- int64
X284 --- int64
X285 --- int64
X286 --- int64
X287 --- int64
X288 --- int64
X291 --- int64
X292 --- int64
X294 --- int64
X295 --- int64
X296 --- int64
X298 --- int64
X299 --- int64
X300 --- int64
X301 --- int64
X302 --- int64
X304 --- int64
X305 --- int64
X306 --- int64
X307 --- int64
X308 --- int64
X309 --- int64
X310 --- int64
X311 --- int64
X312 --- int64
X313 --- int64
X314 --- int64
X315 --- int64
X316 --- int64
X317 --- int64
X318 --- int64
X319 --- int64
X320 --- int64
X321 --- int64
X322 --- int64
X323 --- int64
X324 --- int64
X325 --- int64
X326 --- int64
X327 --- int64
X328 --- int64
X329 --- int64
X331 --- int64
X332 --- int64
X333 --- int64
X334 --- int64
X335 --- int64
X336 --- int64
X337 --- int64
X338 --- int64
X339 --- int64
X340 --- int64
X341 --- int64
X342 --- int64
X343 --- int64
X344 --- int64
X345 --- int64
X346 --- int64
X348 --- int64
X349 --- int64
X350 --- int64
X351 --- int64
X352 --- int64
X353 --- int64
X354 --- int64
X355 --- int64
X356 --- int64
X357 --- int64
X358 --- int64
X359 --- int64
X360 --- int64
X361 --- int64
X362 --- int64
X363 --- int64
X364 --- int64
X365 --- int64
X366 --- int64
X367 --- int64
X368 --- int64
X369 --- int64
X370 --- int64
X371 --- int64
X372 --- int64
X373 --- int64
X374 --- int64
X375 --- int64
X376 --- int64
X377 --- int64
X378 --- int64
X379 --- int64
X380 --- int64
X382 --- int64
X383 --- int64
X384 --- int64
X385 --- int64

In [26]:
category_cols = [c for c in train if train[c].dtype ==np.dtype('object')]
category_cols

['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']

## Apply Label Encoder

In [27]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [28]:
train[category_cols] = train[category_cols].apply(le.fit_transform)

In [29]:
# Features
train_feature = train.drop(['ID','y'], axis = 1)
# Target
train_target = train['y']

In [30]:
train_feature.head()

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X12,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,32,23,17,0,3,24,9,14,0,0,...,0,0,1,0,0,0,0,0,0,0
1,32,21,19,4,3,28,11,14,0,0,...,1,0,0,0,0,0,0,0,0,0
2,20,24,34,2,3,27,9,23,0,0,...,0,0,0,0,0,0,1,0,0,0
3,20,21,34,5,3,27,11,4,0,0,...,0,0,0,0,0,0,0,0,0,0
4,20,23,34,5,3,12,3,13,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
train_target.head()

0    130.81
1     88.53
2     76.26
3     80.62
4     78.02
Name: y, dtype: float64

In [32]:
train_feature.shape

(4209, 364)

In [33]:
train_target.shape

(4209,)

In [34]:
train_feature.describe()

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X12,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,29.760751,11.113566,17.306486,2.919696,2.997862,13.340223,6.807318,11.611309,0.013305,0.075077,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,13.738338,8.531001,10.899914,1.739912,0.073900,8.250832,2.916973,7.037888,0.114590,0.263547,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,3.000000,8.000000,2.000000,3.000000,5.000000,6.000000,5.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,35.000000,13.000000,16.000000,2.000000,3.000000,15.000000,7.000000,11.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,43.000000,20.000000,25.000000,5.000000,3.000000,21.000000,9.000000,18.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,46.000000,26.000000,43.000000,6.000000,3.000000,28.000000,11.000000,24.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

## Perfoming Dimensionality Reduction (PCA)

In [35]:
print(train_feature.shape)
print(train_target.shape)

(4209, 364)
(4209,)

In [36]:
from sklearn.decomposition import PCA
pca = PCA(n_components = 0.95)

In [37]:
pca.fit(train_feature,train_target)

PCA(n_components=0.95)

In [38]:
train_feature_pca = pca.fit_transform(train_feature)

In [39]:
train_feature_pca.shape

(4209, 6)

## Spliting Data

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
train_x,test_x,train_y,test_y = train_test_split(train_feature_pca, train_target, test_size = 0.2, random_state = 10)

In [42]:
train_x.shape

(3367, 6)

In [43]:
train_y.shape

(3367,)

In [44]:
test_x.shape

(842, 6)

In [45]:
test_y.shape

(842,)

## XGboost

In [46]:
import xgboost as xgb

In [47]:
xgb_reg = xgb.XGBRegressor(objective= 'reg:linear', colsample_bytree = 0.3,learning_rate=0.1 )

In [48]:
model = xgb_reg.fit(train_x,train_y)

[14:34:42] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

In [49]:
y_pred = model.predict(test_x)
y_pre = model.predict(train_x)

In [50]:
y_pred.shape

(842,)

In [51]:
y_pre.shape

(3367,)

In [52]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [53]:
print('Train_Score=',model.score(train_x, train_y))
print('Test_Score=',model.score(test_x, test_y))

Train_Score= 0.5701760216727423
Test_Score= 0.25325418172617364

In [54]:
print(r2_score(test_y, y_pred))
print(r2_score(train_y, y_pre))

0.25325418172617364
0.5701760216727423

In [55]:
print('MAE=', mean_absolute_error(test_y, y_pred))
print('MSE=',mean_squared_error(test_y, y_pred))
print('RSME=',np.sqrt(mean_squared_error(test_y, y_pred)))

MAE= 8.044838375354322
MSE= 121.97190419641204
RSME= 11.044089106685623

## Prediction on test data set

In [56]:
test.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [57]:
test.shape

(4209, 377)

In [58]:
test.drop(['X11','X93','X107','X233','X235','X268','X289','X290','X293','X297','X330','X347'], axis = 1, inplace = True)

In [59]:
test.shape

(4209, 365)

In [60]:
test.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [61]:
test.isnull().sum().any()

False

In [62]:
test_feature = test.drop(columns={'ID'})

In [63]:
test_feature.shape

(4209, 364)

In [64]:
test_feature.head()

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X12,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,az,v,n,f,d,t,a,w,0,0,...,0,0,0,1,0,0,0,0,0,0
1,t,b,ai,a,d,b,g,y,0,0,...,0,0,1,0,0,0,0,0,0,0
2,az,v,as,f,d,a,j,j,0,0,...,0,0,0,1,0,0,0,0,0,0
3,az,l,n,f,d,z,l,n,0,0,...,0,0,0,1,0,0,0,0,0,0
4,w,s,as,c,d,y,i,m,0,0,...,1,0,0,0,0,0,0,0,0,0

In [65]:
test_feature.describe(include='object')

          X0    X1    X2    X3    X4    X5    X6    X8
count   4209  4209  4209  4209  4209  4209  4209  4209
unique    49    27    45     7     4    32    12    25
top       ak    aa    as     c     d     v     g     e
freq     432   826  1658  1900  4203   246  1073   274

In [66]:
category_cols1 = [c for c in test_feature if test_feature[c].dtype ==np.dtype('object')]
category_cols1

['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']

In [67]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [68]:
test_feature[category_cols1] = test_feature[category_cols1].apply(le.fit_transform)

In [69]:
test_feature.head()

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X12,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,21,23,34,5,3,26,0,22,0,0,...,0,0,0,1,0,0,0,0,0,0
1,42,3,8,0,3,9,6,24,0,0,...,0,0,1,0,0,0,0,0,0,0
2,21,23,17,5,3,0,9,9,0,0,...,0,0,0,1,0,0,0,0,0,0
3,21,13,34,5,3,31,11,13,0,0,...,0,0,0,1,0,0,0,0,0,0
4,45,20,17,2,3,30,8,12,0,0,...,1,0,0,0,0,0,0,0,0,0

In [70]:
test_feature.dtypes.value_counts()

int64    356
int32      8
dtype: int64

In [71]:
pca.fit(test_feature)

PCA(n_components=0.95)

In [72]:
test_feature_trans = pca.fit_transform(test_feature)

In [73]:
test_feature_trans.shape

(4209, 6)

In [74]:
test_feature_trans

array([[ 14.58336183,  14.16672593,  13.53857566,   2.40835691,
         11.31942221,   6.94220721],
       [-15.25161267,  -7.73675643,  -7.45495068,  -2.66203503,
         11.59379316,   1.15940345],
       [ 11.8564649 ,  -1.68017324,  -9.9896148 ,  14.91886587,
         -1.08886021,  -2.69130553],
       ...,
       [-13.44644008,   3.2885825 ,  -6.85236431,  18.91025575,
         11.32365564,   3.22410016],
       [ 24.92612317,  -4.89888683, -10.16941028,  11.44337736,
          5.90178724,   4.55323232],
       [-15.38430989,  -7.73425491, -15.4930104 ,  -0.5595126 ,
          4.7793639 ,   1.0829113 ]])

In [75]:
test_pred = model.predict(test_feature_trans)

In [76]:
test_pred.shape

(4209,)

In [77]:
test_pred

array([ 98.24064 ,  99.245674,  99.70339 , ...,  96.97598 , 111.26956 ,
       102.940125], dtype=float32)

In [78]:
x = pd.DataFrame(test_pred)

In [79]:
x

               0
0      98.240639
1      99.245674
2      99.703392
3     103.333298
4     106.152199
...          ...
4204  101.489334
4205  103.453690
4206   96.975983
4207  111.269562
4208  102.940125

[4209 rows x 1 columns]

## Thank you